<!DOCTYPE html>
<html lang="en">
 {% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Atly Edoor</title>
	<meta name="description" content="Atly Edoor" />
	<meta name="keywords" content="atly, atlyedoor, ui/ux designer, blog, business card, creative, creative portfolio, cv theme, online resume, personal, portfolio, professional cv, responsive portfolio, resume, resume theme, vcard" />
	<meta name="author" content="atlyedoor" />

	<link rel="icon" href="{% static 'atly-assets/images/avatar.png' %}" type="image/png" sizes="16x16">

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'atly-assets/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'atly-assets/css/fontawesome.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'atly-assets/css/swiper.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'atly-assets/css/animate.min.css' %}" />

	<link rel="stylesheet" type="text/css" href="{% static 'atly-assets/css/photoswipe.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'atly-assets/css/default-skin.min.css' %}" />
	<link rel="stylesheet" href="{% static 'atly-assets/css/vendor.css' %}" />

	<!-- Atly Template style Css -->
	<link href="{% static 'atly-assets/css/atly.css' %}" rel="stylesheet">

	<!-- Custom style Css -->
	<link href="{% static 'atly-assets/css/custom.css' %}" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".navbar">

	<!-- START: Preloader -->
	<div id="preloader" class="preloader">
		<div class="spinner-grow text-dark" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<!-- END: Preloader -->

    <div class="page-wrapper">

		<nav class="navbar navbar-expand-lg navbar-custom navbar-light fixed-top">
			<div class="container">

				<a class="navbar-brand  mr-auto " href="#">
					<img src="{% static 'atly-assets/images/logo.png' %}" alt="Atly">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="true" aria-label="Toggle navigation">
				<svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="60"><path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40"></path><path class="line middle" d="m 30,50 h 40"></path><path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"></path></svg>
			</button>

				<div class="collapse navbar-collapse" id="navbarToggler">
					<ul class="navbar-nav ml-auto">
						<li><a class="nav-link active" href="#home">home</a></li>
						<li><a class="nav-link active" href="#about">about</a></li>
						<li><a class="nav-link" href="#resume">Resume</a></li>
						<li><a class="nav-link" href="#services">Service</a></li>
						<li><a class="nav-link" href="#work">Works</a></li>
						<li><a class="nav-link" href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- START: HOME -->		
    	<section class="section-home" id="home">
    		<div class="overlay d-flex justify-content-center align-items-center">
    			<div class="overlay-wrap container text-left">

 	   			</div>
 	   		</div>
 	   		<div class="banner-clip-4-wave">
				<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/44bbe483442671.60cb1f73c13b8.png" alt="wave">
			</div>
    	</section>	
    	<!-- END: HOME -->

		<!-- START: ABOUT -->
		<section class="section section-about" id="about">
			<div class="container">
				<div class="row justify-content-center align-items-center">

					<div class="col-md-6">
						<div class="section-about--img wow fadeInUp">
							<img class="img-fluid mx-auto d-block" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/f70cfc83442671.60cb1f73c27a8.png" alt="Atly Edoor">
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="about-desc">
							<div class="about-desc-content text-left">
								<h2>About Me</h2>
								<p class="mt-4 font-weight-light">		 I am Atly K Joseph from Kannur an expert in UI/UX designing, video editing, web development and graphic designing with over 5 years of experience in freelancing and have 1 year experience in video editing and web development.</p>
							</div>


							<ul class="about-desc-social text-left my-4 list-unstyled list-inline">
		                        <li class="list-inline-item"><a class="hover-state" href="#"><i class="fab fa-behance"></i></a></li>
		                        <li class="list-inline-item"><a class="hover-state" href="#"><i class="fab fa-facebook"></i></a></li>
		                        <li class="list-inline-item"><a class="hover-state" href="#"><i class="fab fa-youtube"></i></a></li>
		                        <li class="list-inline-item"><a class="hover-state" href="#"><i class="fab fa-dribbble"></i></a></li>
		                    </ul>

							<div class="about-desc-more text-left">
								<div class="row">
								
									<div class="col-lg-6">
										<div class="about-desc-info">
											<b>Location : </b>
											<span>Kannur, Kerala</span>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="about-desc-info">
											<b>Degree : </b>
											<span>BCA</span>
										</div>
									</div>
									
									<div class="col-lg-6">
										<div class="about-desc-info">
											<b>Phone : </b>
											<a href="tel:919048528552" style="text-decoration: none;">+91 9048528552</a>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="about-desc-info">
											<b>Mail : </b>
											<a href="mailto:atlyedoor2@gmail.com" style="text-decoration: none;">atlyedoor2@gmail.com</a>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: ABOUT -->

		<!-- START: RESUME -->
		<section class="section section-light section-resume" id="resume">
			<div class="container">

				<div class="section-head">
					<span>My Resume</span>
					<h2>My Expertises</h2>
				</div>

				<div class="section-inner">
					<div class="section-resume-wrap">
						<div class="section-experience mb-5">
							<div class="row">
								<div class="col-lg-3">
									<h5 class="section-subHead mb-4 "> My Education</h5>
								</div>

								<div class="col-lg-9">
									<div class="ExperienceList pb-3">
										
										<div class="resume-list b-box p-4 " >
											<div class="row align-items-center">
												<div class="col-3 col-md-3 pb-3 pb-md-0">
													Kannur University
												</div>
												<div class="col-md-5 pb-2 pb-md-0">
													<h5 class="mb-3" style="letter-spacing: 0px;">BCA - Bachelor of Computer Application</h5>
													<p> -  Project : Arts day management system &nbsp;&nbsp;&nbsp;using Python/Django
													<br>-	 Member : National Service Scheme
													<br>-	 Participation : Won 3rd Prize in Kannur &nbsp;&nbsp;&nbsp;University
													Hindi Drama & Gymnastics in &nbsp;&nbsp;&nbsp;2019-20
													<br>-	 Award : Best Campus Unsung Hero 2020
											
												</div>
												<div class="col-md-4 text-md-right"><h6 class="badge badge-primary">2018 - 2021</h6></div>
												
											</div>
										</div>
										<div class="resume-list b-box p-4 " >
											<div class="row align-items-center">
												<div class="col-3 col-md-3 pb-3 pb-md-0">
													Avodha Kochi
												</div>
												<div class="col-md-5 pb-2 pb-md-0">
													<h5 class="mb-3" style="letter-spacing: 0px;">UI/UX Designing</h5>
													<p>Created many UI/UX projects in Adobe Xd <a href="https://drive.google.com/drive/folders/1GFzAq19d32XfNKt3Ui0TYRfWtD3-xwaC?usp=sharing" style="color: #0dbe87">View Projects</a></p>
												</div>
												<div class="col-md-4 text-md-right"><h6 class="badge badge-success">2021 April</h6></div>
												
											</div>
										</div>
										<div class="resume-list b-box p-4 " >
											<div class="row align-items-center">
												<div class="col-3 col-md-3 pb-3 pb-md-0">
													Google Digital Unlock
												</div>
												<div class="col-md-5 pb-2 pb-md-0">
													<h5 class="mb-3" style="letter-spacing: 0px;">Digital Marketing</h5>
													<p>Certified course in the Fundamentals of digital marketing.</p>
												</div>
												<div class="col-md-4 text-md-right"><h6 class="badge badge-danger">2020 April</h6></div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="section-education">
							<div class="row">
								<div class="col-lg-3">
									<h5 class="section-subHead mb-4"> My Experience</h5>
								</div>

								<div class="col-lg-9">
									<div class="EducationList">
										<div class="row">
											<div class="col-md-6">
												<div class="resume-list b-box p-4 mb-4 " >
													<div>
														<h6 class="badge badge-danger  my-2 ">2020 Aug - Present</h6>
														<h5 style="letter-spacing: 0px;">Video Editing & Web Developing </h5>
														<h6 >Dr. Francis Karackat SDB</h6> 
														<p class="d-inline-flex mt-2">   - Lecture video making & editing. 
															<br>  - Video creation for Malayala Manorama weekly &nbsp;&nbsp;&nbsp;magazine.
															<br>  - Web development & website handling.
															<br>  - Social media handling.
															<br> - Poster designing.
														</p>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="resume-list b-box p-4 mb-4 " >
													<div>
														<h6 class="badge badge-danger  my-2 ">2020 Apr - 2020 July</h6>
														<h5 style="letter-spacing: 0px;">Video Editing & Web Developing </h5>
														<h6 >Don Bosco College, Angadikadavu</h6> 
														<p class="d-inline-flex mt-2">   
															-  Lecture video making for MCA students.
															<br>  -  Web development & website handling &nbsp;&nbsp;&nbsp;(www.dbc.ac.in)
															<br> - Creating Ads.
															<br>  - Social media handling.
															<br> - Poster designing.
														</p>
													</div>
												</div>
											</div>
											
											<div class="col-md-6">
												<div class="resume-list b-box p-4 mb-4 " >
													<div>
														<h6 class="badge badge-danger  my-2 ">2020 February</h6>
														<h5 style="letter-spacing: 0px;">Freelancer | Event Advertiser </h5>
														<h6 >Equinox - South Indian Management Fest</h6> 
														<p class="d-inline-flex mt-2">   
															-  Advertising video making & editing.
															<br>  -  Creating Ads on social medias.
															<br> -  Social media calender.
															<br> -  Poster design.
															<br> -  Recap video making.
														</p>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<div class="resume-list b-box p-4 mb-4 " >
													<div>
														<h6 class="badge badge-danger  my-2 ">2020 January</h6>
														<h5 style="letter-spacing: 0px;">Freelancer | Event Advertiser </h5>
														<h6 >Comet- South Indian Commerce Fest</h6> 
														<p class="d-inline-flex mt-2">   
															-  Advertising video making & editing.
															<br>  -  Logo design.
															<br>  -  Creating Ads on social medias.
															<br> -  Social media calender.
															<br> -  Recap video making.
														</p>
													</div>
												</div>
											</div>
											
											<div class="col-md-6">
												<div class="resume-list b-box p-4 mb-4 " >
													<div>
														<h6 class="badge badge-danger  my-2 ">2020 December</h6>
														<h5 style="letter-spacing: 0px;">Freelancer | Web Developing </h5>
														<h6 >Fantasia - Inter-Collegiate Arts Fest</h6> 
														<p class="d-inline-flex mt-2">   
															-  Website developed for manage arts fest.
															<br>  -  The functions of website that participants &nbsp;&nbsp;&nbsp;registration,
															publish event shedule, participants &nbsp;&nbsp;&nbsp;list, results and providing
															certificates for &nbsp;&nbsp;&nbsp;participants and the winners.
															<br>  -  Poster & banner design.
															<br> -  Logo design.
														</p>
													</div>
												</div>
											</div>
										



										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="section-skills-wrap mt-5">
							<div class="row">
								<div class="col-lg-3">
									<h5 class="section-subHead mb-4"> My Skills</h5>
								</div>
								<div class="col-lg-9">
									<div class="row ">
											<div class="col-md-6">
												<h5 class="mt-4 mt-md-0 mb-4 pb-2 text-uppercase">Coding Skills</h5>

												<div class="resume-panel">
													<div class="mb-4 wow fadeInUp" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">
														<h6>HTML </h6>
														<div class="progress mt-2">
															<div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>

													<div class="mb-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
														<h6>CSS</h6>
														<div class="progress mt-2">
															<div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>

													<div class="mb-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.3s; animation-name: fadeInUp;">
														<h6>Javascript</h6>
														<div class="progress mt-2">
															<div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>

													<div class="mb-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.4s; animation-name: fadeInUp;">
														<h6>Python</h6>
														<div class="progress mt-2">
															<div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>

													<div class="mb-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.4s; animation-name: fadeInUp;">
														<h6>C &amp; C++</h6>
														<div class="progress mt-2">
															<div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
													<div class="mb-0 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.4s; animation-name: fadeInUp;">
														<h6>Django</h6>
														<div class="progress mt-2">
															<div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
													
												</div>
											</div>

											<div class="col-md-6">
												<div class="resume-panel mt-5 mt-md-0">
													<h5 class="mb-4 pb-2 text-uppercase">Design Skills</h5>
													<div class="mb-4 wow fadeInUp" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">
														<h6>Adobe Photoshop </h6>
														<div class="progress mt-2">
															<div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>

													<div class="mb-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
														<h6>Adobe Xd &amp; Figma</h6>
														<div class="progress mt-2">
															<div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>

													<div class="mb-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.3s; animation-name: fadeInUp;">
														<h6>Adobe Premiere Pro</h6>
														<div class="progress mt-2">
															<div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>

													<div class="mb-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.4s; animation-name: fadeInUp;">
														<h6>Adobe Illustrator</h6>
														<div class="progress mt-2">
															<div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
													
													<div class="mb-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.4s; animation-name: fadeInUp;">
														<h6>MS Word/Powerpoint/Excel</h6>
														<div class="progress mt-2">
															<div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
													<div class="mb-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.4s; animation-name: fadeInUp;">
														<h6>Adobe InDesign</h6>
														<div class="progress mt-2">
															<div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
													
												</div>
											</div>	
										</div>
								</div>
							</div>							
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- END: RESUME -->


		<!-- START: SERVICES -->
		<section class="section section-dark section-services" id="services">
			<div class="container">
				<div class="section-head">
					<span>WHAT I DO</span>
					<h2>My Services</h2>
				</div>

				<div class="row mt-4">
					<div class="col-sm-6 col-md-4">
						<div class="services-flip wow fadeInUp" data-wow-duration="1.5s">
							<div class="services-list">
								<div class="services-list-front services-list-1" >
									<div class="flip-content frontali">
										<div class="services-list-icon-front">
											<i class="fas fa-paint-brush  "></i>
											<h5 class="mb-0">UI/UX Design</h5>
									
										</div>
										<div class="mt-4">
										</div>
										
									</div>
								</div>
								<div class="services-list-back">
									<div class="flip-content">
										<div class="services-list-icon">
											<i class="fas fa-paint-brush  "></i>
										</div>
										<div class="mt-4">
											<h5 class="mb-0">UI/UX Design</h5>
											<p class=" mt-3">Modern and mobile-ready website that will help of your marketing.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="services-flip wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
							<div class="services-list">
								<div class="services-list-front services-list-1" >
									<div class="flip-content frontali">
										<div class="services-list-icon-front">
											<i class="fas fa-palette  "></i>
											<h5 class="mb-0">Web Development</h5>
									
										</div>
										<div class="mt-4">
										</div>
										
									</div>
								</div>
								<div class="services-list-back">
									<div class="flip-content">
										<div class="services-list-icon">
											<i class="fas fa-palette  "></i>
										</div>
										<div class="mt-4">
											<h5 class="mb-0">Web Development</h5>
											<p class=" mt-3">Modern and mobile-ready website that will help of your marketing.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-sm-6 col-md-4">
						<div class="services-flip wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".6s">
							<div class="services-list">
								<div class="services-list-front services-list-1" >
									<div class="flip-content frontali">
										<div class="services-list-icon-front">
											<i class="fas fa-puzzle-piece  "></i>
											<h5 class="mb-0">Advetising</h5>
									
										</div>
										<div class="mt-4">
										</div>
										
									</div>
								</div>
								<div class="services-list-back">
									<div class="flip-content">
										<div class="services-list-icon">
											<i class="fa fa-puzzle-piece  " aria-hidden="true"></i>
										</div>
										<div class="mt-4">
											<h5 class="mb-0">Advetising</h5>
											<p class=" mt-3">Modern and mobile-ready website that will help of your marketing.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- END: SERVICES -->






		<section class="section section-work " id="work">
			<div class="container">
				<div class="section-head text-center wow-no fadeIn">
					<span>Portfolio</span>
					<h2>My Works</h2>
				</div>
			</div>



		</section>


		
		<!-- START: PRICING -->
		<!--
		<section class="section section-dark section-pricing" id="pricing">
			<div class="container">
				<div class="section-head">
					<span>WHAT I DO</span>
					<h2>My Services</h2>
				</div>

				<div class="row mt-5 py-5">
                    <div class="col-md-4">
                        <div class="price-box b-box">
                        	<div class="price-box-head p-4">
	                            <h6 class="font-weight-bold">Basic</h6>
	                            <div class="bold price-price">
	                                <sup>$</sup>
	                                <span>29</span>
	                            </div>
                            </div>
                            <hr>
                            <ul class="price-features">
                                <li>Community Support</li>
                                <li>200+ Pages</li>
                                <li>10 Header variations</li>
                                <li>24/7 Free Support</li>
                                <li><i class="fas fa-times"></i></li>
                                <li><i class="fas fa-times"></i></li>
                            </ul>
                            <hr>
                            <div class="text-center p-3">
                            	<button class="btn btn-small shadow-none">Start</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-box b-box featured">
                            <div class="price-box-head p-4">
	                            <h6 class="font-weight-bold">Enterprice</h6>
	                            <div class="bold price-price">
	                                <sup>$</sup>
	                                <span>399</span>
	                            </div>
                            </div>
                            <hr>
                            <ul class="price-features">
                                <li>Community Support</li>
                                <li>200+ Pages</li>
                                <li>10 Header variations</li>
                                <li>24/7 Free Support</li>
                                <li>Priority Support</li>
                                <li>20+ home page options</li>
                            </ul>
                            <hr>
                            <div class="text-center p-3">
                            	<button class="btn btn-small shadow-none">Start</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-box b-box">
                            <div class="price-box-head p-4">
	                            <h6 class="font-weight-bold">Company</h6>
	                            <div class="bold price-price">
	                                <sup>$</sup>
	                                <span>299</span>
	                            </div>
                            </div>
                            <hr>
                            <ul class="price-features">
                                <li>Community Support</li>
                                <li>200+ Pages</li>
                                <li>10 Header variations</li>
                                <li>24/7 Free Support</li>
                                <li><i class="fas fa-times"></i></li>
                                <li><i class="fas fa-times"></i></li>
                            </ul>
                            <hr>
                            <div class="text-center p-3">
                            	<button class="btn btn-small shadow-none">Start</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</section>
		

		

		
		<section class="section section-dark section-testimony" id="testimony">
			<div class="container">
				<div class="section-head text-center">
					<span>Kind Words</span>
					<h2>testimonial</h2>
				</div>
				<div class="row mt-4">
					<div class="col-lg-12">
						<div class="swiper-container swiper-testimony wow fadeInUp"  data-wow-duration="1.5s">
							<div class="swiper-wrapper">
								<div class="swiper-slide single-testimonials ">
									<div class="single-testimonials-in text-center p-4 b-box mx-auto">
										<img src="assets/images/avatar1.jpg" alt="" class="mx-auto b-box">
										<p class="pt-2 mt-4 text-center">"Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse."</p>
										<span class="font-weight-bold mt-3 d-block">- Anj Joseph, Web Developer</span>
									</div>
								</div>

								<div class="swiper-slide single-testimonials ">
									<div class="single-testimonials-in text-center p-4 b-box mx-auto">
										<img src="assets/images/avatar1.jpg" alt="" class="mx-auto b-box">
										<p class="pt-2 mt-4 text-center">"Raw denim you probably haven't heard of them jean shorts Austin.  Mustache cliche tempor, williamsburg carles vegan helvetica."</p>
										<span class="font-weight-bold mt-3 d-block">- Anj Joseph, Web Developer</span>
									</div>
								</div>

								<div class="swiper-slide single-testimonials ">
									<div class="single-testimonials-in text-center p-4 b-box mx-auto">
										<img src="assets/images/avatar1.jpg" alt="" class="mx-auto b-box">
										<p class="pt-2 mt-4 text-center">"Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse."</p>
										<span class="font-weight-bold mt-3 d-block">- Anj Joseph, Web Developer</span>
									</div>
								</div>

								<div class="swiper-slide single-testimonials ">
									<div class="single-testimonials-in text-center p-4 b-box mx-auto">
										<img src="assets/images/avatar1.jpg" alt="" class="mx-auto b-box">
										<p class="pt-2 mt-4 text-center">"Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse."</p>
										<span class="font-weight-bold mt-3 d-block">- Anj Joseph, Web Developer</span>
									</div>
								</div>

								<div class="swiper-slide single-testimonials ">
									<div class="single-testimonials-in text-center p-4 b-box mx-auto">
										<img src="assets/images/avatar1.jpg" alt="" class="mx-auto b-box">
										<p class="pt-2 mt-4 text-center">"Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica."</p>
										<span class="font-weight-bold mt-3 d-block">- Anj Joseph, Web Developer</span>
									</div>
								</div>

							</div>
							<div class="swiper-pagination"></div>
						</div>

						<div class="testimony-nav">
							<a href="#" class="swiper-button-next"></a>
							<a href="#" class="swiper-button-prev"></a>
						</div>

					</div>
				</div>
			</div>
		</section>
		-->






	



		<section class="section section-light section-blog" id="work">
			<div class="container">   
				                
				<div class="mt-5">
					<div class="row">
						{% for x in img_details %}
						<div class="col-md-4 col-lg-4">
							<a href="{% url 'index-blog' x.id  %}" class="blog-list d-block wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
								<div class="blog-list--img">
									<img src="{{ x.thumb_link }}" alt="Blog Image" class="img-fluid">
									<div class="blog-list--details d-flex justify-content-center align-items-center">
										<div class="blog-list--details-in">
											<p class="blog-by mb-2">View Details</p>
										</div>
									</div>
								</div>
								<div class="blog-list--desc py-3">
									<span class="d-block mt-2 font-weight-bold blog-cat">{{ x.name }}</span>
									<p>{{ x.description  }}</p>

								</div>
							</a>
						</div>
						{% endfor %}


					</div>
				</div>
				<div class="text-center mt-5 mb-5 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s">
					<a href="{% url 'blog-full' %}" class="btn hover-state">View More</a>
				</div>
			</div>
		</section>

		<!-- END: BLOG -->
		<div class="swiper-container">


				  <img class="slide-inner w3-animate-right mySlides" style="background-image:url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/495c8c121740013.60cb9bae25eee.jpg)" >

				  <img class="slide-inner w3-animate-right mySlides" style="background-image:url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/a30fa2121740013.60cb9bae25485.jpg)">

				  <img class="slide-inner w3-animate-right mySlides" style="background-image:url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/baabc6121740013.60cb9bae2488a.jpg)">


			</div>


		<!-- START: CTA -->
		<section class="section  section-freelance section-light text-center ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-head wow fadeInUp" data-wow-duration="1.5s">
							<h2>Let's work together!</h2>
						</div>
						<div class="mt-5 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
							<a href="mailto:atlyedoor2@gmail.com" class="btn btn-outline hover-state" style="border-radius: 30rpx;">Hire Me!</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: CTA -->


		<!-- START: CONTACT -->
		<section class="section section-dark section-contact" id="contact">
			<div class="container">
				<div class="section-head">
					<span>say Hello</span>
					<h2>Contact </h2>
				</div>

			</div>

			<div class="contact-Otherdetails">
				<div class="container">
					<div class="contact-details">

						<div class="row">
							<div class="col-md-4 col-lg-4">
								<div class="contact-details--panel b-box p-4 text-center wow fadeInUp" data-wow-duration="1.5s" style="border-radius: 26px;">
									<div class="mb-4 contact-details--icon ">
										<i class="fas fa-map-marked-alt"></i>
									</div>
									<div class="mt-2">
										<a href="" class="" style="text-decoration: none;">Kerala, India</a>
										<p class="mt-3 font-weight-bold ">Address</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-lg-4">
								<div class="contact-details--panel b-box p-4 text-center wow fadeInUp" data-wow-duration="1.5s" style="border-radius: 26px;">
									<div class="mb-4 contact-details--icon ">
										<i class="fas fa-mobile-alt"></i>
									</div>
									<div class="mt-2">
										<a href="tel:919048528552" class="" style="text-decoration: none;">+91 9048528552</a>
										<p class="mt-3 font-weight-bold ">Call Us</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-lg-4">
								<div class="contact-details--panel b-box p-4 text-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s" style="border-radius: 26px;">
									<div class="mb-4 contact-details--icon ">
										<i class="fas fa-envelope  "></i>
									</div>
									<div class="mt-2">
										<a href="mailto:atlyedoor2@gmail.com" style="text-decoration: none;">atlyedoor2@gmail.com</a>
										<p class="mt-3 font-weight-bold ">Email Us</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
					<div class="col-lg-6">
					<div class="contact-form mt-5">
						<form method="POST" >
						{% csrf_token %}

							<div class="row">
								<div class="col-lg-6">
									<div class="form-group mb-3">
										<input name="name"  type="text" class="form-control" placeholder="Your Name " style="border-radius: 30px;" required>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group mb-3">
										<input name="email"  type="email" class="form-control " style="border-radius: 30px;" placeholder="Your Email " required>
									</div>
								</div>  
								                               
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group mb-3">
										<input type="text" name="text" class="form-control b-box"  style="border-radius: 30px;" placeholder="Your Subject.." required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group mb-3">
										<textarea name="message"  rows="4" class="form-control " style="border-radius: 20px;" placeholder="Your message..." required></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 mt-4 mb-5 text-center">
									<button type="submit" class="submitBnt btn text-uppercase" style="border-radius: 26px;">Send</button>
								</div>
							</div>
						</form>

					</div>
				</div> 
				<div class="col-lg-6">
					<div class="services-flip wow fadeInUp" data-wow-duration="1.5s" style="padding-top:50px; padding-bottom:100px; padding-left:50px; padding-right:50px;">
						<div class="services-list">
							<div class="services-list-front services-list-1" >
								<div class="flip-content frontali">
									<div class="services-list-icon-front">
										<i class="fas fa-comments "></i>
										<h5 class="mb-0">Drop your feedback</h5>
								
									</div>
									<div class="mt-4">
									</div>
									
								</div>
							</div>
							<div class="services-list-back">
								<div class="flip-content">
									<div class="services-list-icon">
										<i class="fas fa-comments  "></i>
									</div>
									<div class="mt-4">
										<h5 class="mb-0">Drop your feedback</h5>
										<p class=" mt-3">Please, type your valuable feedback in the contact form.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
					


			
				</div>
			</div>
		</section>
		<!-- END: CONTACT -->

		<!--START: FOOTER-->
		<footer class="footer section section-light">
			<div class="container">
				<p class="copyright text-center mb-0">&copy; Atly Edoor 2021 | All Right Reserved</p>
			</div>
		</footer>
		<!--END: FOOTER-->
	</div>



	<!--START: Scroll to top-->
	    <div class="scroll-up hover-state">
		<a id="scroll-up"><i class="fas fa-arrow-up"></i></a>
	</div>
	<!--END: Scroll to top-->

	<!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

	    <!-- Background of PhotoSwipe. 
	         It's a separate element, as animating opacity is faster than rgba(). -->
	    <div class="pswp__bg"></div>

	    <!-- Slides wrapper with overflow:hidden. -->
	    <div class="pswp__scroll-wrap">

	        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
	        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
	        <div class="pswp__container">
	            <div class="pswp__item"></div>
	            <div class="pswp__item"></div>
	            <div class="pswp__item"></div>
	        </div>

	        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
	        <div class="pswp__ui pswp__ui--hidden">
	            <div class="pswp__top-bar">
	                <!--  Controls are self-explanatory. Order can be changed. -->
	                <div class="pswp__counter"></div>
	                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
	                <button class="pswp__button pswp__button--share" title="Share"></button>
	                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
	                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

	                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
	                <!-- element will get class pswp__preloader--active when preloader is running -->
	                <div class="pswp__preloader">
	                    <div class="pswp__preloader__icn">
	                      <div class="pswp__preloader__cut">
	                        <div class="pswp__preloader__donut"></div>
	                      </div>
	                    </div>
	                </div>
	            </div>

	            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
	                <div class="pswp__share-tooltip"></div> 
	            </div>

	            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
	            </button>

	            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
	            </button>

	            <div class="pswp__caption">
	                <div class="pswp__caption__center"></div>
	            </div>
	        </div>
	    </div>
	</div>
	<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 2500);
}
</script>

	<!-- Javascript files -->

	<script src="{% static 'atly-assets/js/jquery.js' %}"></script>


	<!-- Popper JS -->
	<script src="{% static 'atly-assets/bootstrap/js/popper.js' %}"></script>

	<!-- Latest compiled JavaScript -->
	<script src="{% static 'atly-assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'static/atly-assets/js/vendor.js' %}"></script>
	<script src="{% static 'static/atly-assets/js/hover-effect.umd.js' %}"></script>

	<script src="{% static 'atly-assets/js/swiper.min.js' %}"></script>

	<script src="{% static 'atly-assets/js/typed.js' %}"></script>
	<script src="{% static 'atly-assets/js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'atly-assets/js/jquery.parallax-1.1.3.js' %}"></script>

	<!-- Popup Js -->
	<script src="{% static 'atly-assets/js/photoswipe.min.js' %}"></script>
	<script src="{% static 'atly-assets/js/photoswipe-ui-default.min.js' %}"></script>
	<script src="{% static 'atly-assets/js/pswp.js' %}"></script>

	<!-- Portfolio Shuffler -->
	<script src="{% static 'atly-assets/js/imagesloaded.pkgd.js' %}"></script>
	<script src="{% static 'atly-assets/js/jquery.shuffle.min.js' %}"></script>
	<script src="{% static 'atly-assets/js/custom-shuffle-init.js' %}"></script>

	<!-- Custom Js -->
	<script src="{% static 'atly-assets/js/custom.js' %}"></script>
	<script src="{% static 'atly-assets/js/font.js' %}"></script>
	<script src="{% static 'atly-assets/js/atlyslide.js' %}"></script>

</body>
</html>

